<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Altamar - Chiping</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>altamar <em>Chiping</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">Nuestros Servicios</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'myapp:about' %}">Sobre Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'myapp:contact' %}">Contactanos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-15">
            <!-- <div class="text-content">
              <h4>Sobres Nosotros</h4>
              <h2>Nuestra Copa</h2>
            </div> -->
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Nuestra Compañía</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'images/feature-image.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Quiénes Somos &amp; Que Hacemos?</h4>
              <p style="text-align: justify;">Somos una empresa dedicada al envio de encomiendas personales y comerciales puerta a puerta
                a la República Dominicana. Nuestros servicios es desde las ciudades de New York, New Jersey, 
                Connecticut, Rhode Island, Pennsylvania. Trabajamos 7 días a la semana para brindarte la mejor 
                opción a la hora de programar tu cita. Enviamos Ectrodomésticos, Carros, Tanques y Cajas. Garantizamos 
                una entrega puntual y cuidadosa de tus envíos.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <br>
    </div>
    </div> -->

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-paper-plane"></i>
              </div>
              <div class="down-content">
                <h4>Nuestra Misión</h4>
                <p style="text-align: justify;">Brindar soluciones logísticas únicas, profecionales y a la medida
                   en el propio Transporte de Carga Internacional y Logística a la República Dominicana. con el fin
                   de satisfacer y apoyar con éxito todas las necesidades de nuestros clientes.</p>
                <a href="#" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa solid fa-globe"></i>
              </div>
              <div class="down-content">
                <h4>Nuestro Visión</h4>
                <p style="text-align: justify;">Queremos ser un proveedor líder a nivel Mundial como uno de los principales 
                  transportistas de cargas Internacionales, aportando soluciones, y logísticas profecionales a la medida.</p>
                <a href="#" class="filled-button">Details</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="down-content">
                <h4>Nuestros Valores</h4>
                <ul style="text-align: left">
                  <li>Compromiso.</li>
                  <li>Trabajo en Equipo.</li>
                  <li>Innovación.</li>		
                  <li>Honestidad.</li>
                  <li>Puntualidad.</li>																									
                </ul>
                <a href="#" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="happy-clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <!-- <h2>Happy Partners</h2> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel">
              <div class="client-item">
                <img src="{% static 'images/client-01.png' %}" alt="1">
              </div>
              
              <div class="client-item">
                <img src="{% static 'images/client-01.png' %}" alt="2">
              </div>
              
              <div class="client-item">
                <img src="{% static 'images/client-01.png' %}" alt="3">
              </div>
              
              <div class="client-item">
                <img src="{% static 'images/client-01.png' %}" alt="4">
              </div>
              
              <div class="client-item">
                <img src="{% static 'images/client-01.png' %}" alt="5">
              </div>
              
              <div class="client-item">
                <img src="{% static 'images/client-01.png' %}" alt="6">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>            
                Altamar&copy;  <a rel="nofollow noopener" href="https://www.instagram.com/percysanchez_/" target="_blank">Chipping</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
